<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Confirmation</title>
</head>
<body>
    The customer is confirmed: <span th:text="${customer.firstName + ' ' + customer.lastName}"></span>
    <br><br>
    Free passes you have: <span th:text="${customer.freePass}"></span>
    <br><br>
    Your postal code: <span th:text="${customer.postalCode}"></span>
    <br><br>
    Your course code: <span th:text="${customer.courseCode}"></span>
</body>
</html>